*{
    background-color: aqua;
}
div{
    background-color: red;
    height: 20px;
    width: 120px;
}
.div-blue{
    background-color: blue;
}
.div-red{
    color: white;
}
#soy-especial{
    background-color: blueviolet;
}
.p-c{
    color: white;
}
#b-r{
    background-color: black;
    color: white;
    margin-left: 95px;
}